.button-jerry {
    background-color: black;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin:4px 2px;
    cursor:pointer;
}

.navbar-top{
    background-color: #0a2317;
    padding: 10px;
    padding-bottom: 20px;
    font-size: xx-large;
    color: white
}

.menu-image{
    opacity: 100%;
}

.menu-image:hover{
    opacity:50%
}

.sidebar{
    background-color: #314e40;
    color: white;
    height: 100%;
    width: 0%;
    overflow-x: hidden;
    position: fixed;
}

.spacing{
    padding-top: 30px;
    padding-bottom: 30px;
}

.fishing-nav{
    background-color: #314e40;
    color: white;
}

.fishing-subtitle{
    text-decoration:underline;
    padding-left: auto;
    margin-left:auto;
}
.fishing-paragraph{
    font-size: large;
}

div.main{
    margin-left: 0%;
}

a.whitetext{
    color: white;
    font-size: x-large;
    text-decoration: none;
}

a.whitetext:hover{
    color: #aeaeae;
}

a.whitetext:link{
    color: white;
}

.centered-picture{
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: white;
    font-family: Georgia, serif;
}
