.button-jerry {
    background-color: black;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin:4px 2px;
    cursor:pointer;
}

.navbar-top{
    background-color: #374250;
    padding-top: 5px;
    padding: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    color: white
}

.sidebar{
    background-color: #7b848f;
    color: white;
    height: 100%;
    width: 400px;
    font-size: medium;
    overflow-x: hidden;
    position: fixed;
}

div.main{
    margin-left: 400px;
}

a.whitetext{
    color: white;
    font-size: x-large;
    text-decoration: none;
}

a.whitetext:hover{
    color: #cccccc;
}

a.whitetext:link{
    color: white;
}

body{
    background-color: white;
    font-family: Georgia, serif;
}